<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JobBidz|Contact Us</title>
    <link rel="stylesheet" href="input.css">
    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Labrada:wght@200&family=Poppins&display=swap"rel="stylesheet"/>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <nav class="">
        <div>
          <a href="/" class="font-extrabold text-4xl absolute top-4 left-5 text-blue-600 heading" >JobBidz</a>
        </div>
        <ul class="flex justify-end space-x-5 m-5">
          <a href="/"><li class="text-blue-600 cursor-pointer text-lg">Home</li></a>
          <a href="about_us"><li class="hover:text-blue-600 cursor-pointer text-lg">About Us</li></a>
          <a href="contact_us"><li class="hover:text-blue-600 cursor-pointer text-lg">Contact Us</li></a>
          <a href="need_job"><li class="hover:text-blue-600 cursor-pointer text-lg">Need Job</li></a>
          <a href="log_in"><li class="hover:text-blue-600 cursor-pointer text-lg"> Log In</li></a>
          <a href="sign_up"><button class="bg-blue-500 text-white rounded-full px-4 py-1">Sign Up</button> </a>
        </ul></nav> <div>
        <div class="w-full h-24 bg-red-400 rounded-br-[10rem] ">
            <h1 class="text-4xl font-[1000] text-center pt-5 text-white">Get In Touch</h1>
            <form action="">
            <div class=" mx-[21rem] mt-2 w-[38rem] h-[28rem] bg-white shadow-2xl rounded-lg">
                <div class="flex space-x-5 mx-10 pt-8">
                    <input type="text " placeholder="First Name" name="first_name" class="border px-6 py-1 rounded-md border-black">
                    <input type="text " placeholder="Last Name" name="last_name" class=" px-6 py-1 rounded-md border-black border">
                
                </div>
                <div class="flex space-x-5 mx-10 mt-4">
                    <input type="email" placeholder="Email" name="email" class="border px-6 py-1 rounded-md border-black">
                    <input type="tel " placeholder="Contact Number" name="contact_number" class=" px-6 py-1 rounded-md border-black border">
                
                </div>
                <!-- <div class="flex space-x-5 mx-10 mt-4">
                    <input type="text" placeholder="   Address" name="address" class="border px-40 py-3 rounded-md border-black">
                
                </div> -->
                <div class="mx-10 mt-4">
                    <textarea name="address"  cols="60" rows="1" placeholder="Address" class="border-black border rounded-md px-4 py-3"></textarea>
                </div>
                <div class="mx-10 mt-4">
                    <textarea name="message"  cols="60" rows="4" placeholder="Type Your Message" class="border-black border rounded-md px-4 py-3"></textarea>
                </div>
                <button class="bg-green-600 text-lg font-bold px-28 py-3 mx-40 text-white mt-4 rounded-full">Submit</button>
                <div class="flex space-x-7 mx-28 mt-3 justify-center">
                    <a href="#"><img src="https://img.icons8.com/fluency/48/null/facebook-new.png" class="w-8"/></a>
                    <a href="#"><img src="https://img.icons8.com/color/48/null/instagram-new--v1.png" class="w-8"/></a>
                    <a href="#"><img src="https://img.icons8.com/fluency/48/null/linkedin-circled.png" class="w-8"/></a>
                    <a href="#"><img src="https://img.icons8.com/color/48/null/ringer-volume.png" class="w-8"/></a> </div>
                </form>
            </div>
                </div>
</body>
</html>