<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JobBidz</title>
    <link rel="stylesheet" href="input.css" />

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Labrada:wght@200&family=Poppins&display=swap"rel="stylesheet"/>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    

    <!-- Navigation menu starts -->
    <nav class="">
      <div>
        <h1 class="font-extrabold text-4xl absolute top-4 left-5 text-blue-600 heading" >JobBidz</h1>
      </div>
      <ul class="flex justify-end space-x-5 m-5">
        <a href="/"><li class="text-blue-600 cursor-pointer text-lg">Home</li></a>
        <a href="about_us.pug"><li class="hover:text-blue-600 cursor-pointer text-lg">About Us</li></a>
        <a href="contact_us.pug"><li class="hover:text-blue-600 cursor-pointer text-lg">Contact Us</li></a>
        <a href="need_job.pug"><li class="hover:text-blue-600 cursor-pointer text-lg">Need Job</li></a>
        <a href="log_in.pug"><li class="hover:text-blue-600 cursor-pointer text-lg">  Log In</li></a><a href="sign_up.html"><button class="bg-blue-500 text-white rounded-full px-4 py-1"> Sign Up</button> </a>
      </ul>
    </nav>
    <!-- Navigation menu ends -->


    <!-- Main content -->
    <div>
      <h1 class="text-5xl font-bold mx-24 mt-36"> FULFILLING NEEDS <br />EMPOWERING WORKERS
      </h1>
      <p class="text-xl mx-24 pt-4 py-5">Find trustworthy domestic workers for your home. <br />Browse profiles and hire cleaners, plumbers, electrician, and more.
      </p>
      <a href="hire_now.pug" ><button class="bg-blue-500 text-white rounded-full px-10 py-2 mx-28 font-semibold"> HIRE NOW
      </button></a>
      <img src="../static/images/final.png" class="absolute top-28 right-20 w-96" />
    <hr class="mt-44" />
    <div>
      <h1 class="text-4xl mt-10 font-bold mx-24 text-center">JobBidz offers services for</h1>
      <p class="py-5 mx-24 text-lg text-center">Looking for a problem to fix? </p>


      <!--Services section start-->
      <div class="flex">
        <div class="bg-blue-100 w-1/4 h-80 mx-12 cursor-pointer border-1 hover:bg-blue-200 shadow-lg rounded-md hover:shadow-2xl">
        <img src="../static/images/carpenter-removebg-preview.png" class="w-40 mx-16" />
        <h1 class="text-2xl text-center pt-2">Carpenter</h1>
        <p class="text-center p-2">"Need a skilled carpenter for your home or office? Find one easily on our website today!"
        </p>
        
      </div>
      <div class="bg-blue-100 w-1/4 h-80 mx-12 cursor-pointer border-1 hover:bg-blue-200 shadow-lg rounded-md hover:shadow-2xl">
        <img src="../static/images/plumber.png" class="w-52 mx-16 my-2" />
        <h1 class="text-2xl text-center pt-2">Plumber</h1>
        <p class="text-center p-2">"Don't let plumbing issues be a hassle, find the perfect plumber on our website today."
        </p>
        
      </div>
      <div class="bg-blue-100 w-1/4 h-80 mx-12 cursor-pointer border-1 hover:bg-blue-200 shadow-lg rounded-md hover:shadow-2xl">
        <img src="../static/images/electician-removebg-preview.png" class="w-40 mx-16" />
        <h1 class="text-2xl text-center pt-2">Electrician</h1>
        <p class="text-center p-2">"From electrical installations to repairs, find skilled electricians on our platform."
        </p>
        
      </div>
      </div>
      <div class="flex mt-10">
        <div class="bg-blue-100 w-1/4 h-80 mx-12 cursor-pointer border-1 hover:bg-blue-200 shadow-lg rounded-md hover:shadow-2xl">
        <img src="../static/images/cook-removebg-preview.png" class="w-40 mx-16" />
        <h1 class="text-2xl text-center pt-2">Cook</h1>
        <p class="text-center p-2">"Treat your taste buds to some amazing dishes cooked by professional chefs. Hire them easily from our website!."
        </p>
        
      </div>
      <div class="bg-blue-100 w-1/4 h-80 mx-12 cursor-pointer border-1 hover:bg-blue-200 shadow-lg rounded-md hover:shadow-2xl">
        <img src="../static/images/housekeeper-removebg-preview.png" class="w-40 mx-16 my-2" />
        <h1 class="text-2xl text-center pt-2">Housekeeper</h1>
        <p class="text-center p-2">"A clean and organized home is just a few clicks away. Find trusted housekeepers on our website!."
        </p>
      </div>
      <div class="bg-blue-100 w-1/4 h-80 mx-12 cursor-pointer border-1 hover:bg-blue-200 shadow-lg rounded-md hover:shadow-2xl">
        <img src="../static/images/washerman-removebg-preview.png" class="w-40 mx-16 mt-7 mb-4" />
        <h1 class="text-2xl text-center pt-2">Washer man</h1>
        <p class="text-center p-2"> "Get your laundry done hassle-free with the help of experienced washers available on our platform!."
        </p>
       
      </div>
      </div>
      <!--Services section end-->


      <hr class=" mt-28" />
      <div class="w-auto h-96 bg-blue-100">
       <h1 class="font-bold text-2xl mx-14 py-20">Know someone who needs job of Maid, Cook, Plumber,<br> Electrician, Housekeeper or similar Helper?</h1>
       <button class="rounded-full bg-green-500 text-white px-12 py-3 mx-[5rem] text-lg font-semibold"><a href="need_job">Register them for job</a></button>
       <img src="../static/images/worker2-removebg-preview.png" class="absolute w-96 right-10 top-[98rem]">
      </div>
      <!-- Footer section starts -->
  <footer class="w-auto h-64 bg-gray-600">
    <h1 class="px-10 py-2 pt-10 text-white text-center">Made with ❤️ by JobBidz Team</h1>
    <h1 class="px-10 text-white text-center">© Copyright JobBidz</h1>
    <div class="flex space-x-7 mx-28 mt-7 justify-center">
      <a href="#"><img src="https://img.icons8.com/fluency/48/null/facebook-new.png" class="w-8"/></a>
      <a href="#"><img src="https://img.icons8.com/color/48/null/instagram-new--v1.png" class="w-8"/></a>
      <a href="#"><img src="https://img.icons8.com/fluency/48/null/linkedin-circled.png" class="w-8"/></a>
      <a href="tel:+"><img src="https://img.icons8.com/color/48/null/ringer-volume.png" class="w-8"/></a>
      <a href="mailto:"><img src="https://img.icons8.com/color/48/null/apple-mail.png" class="w-8"/></a>
    </div>
  </div>

      </footer>
       <!-- Footer section ends -->
  </body>
</html>
